
*,
*::before,
*::after {
      box-sizing: border-box;
}

* {
      margin: 0;
}

html,
body {
      height: 100%;
}

body {
      line-height: 1.5;
      font-family: "Poppins", serif;
      background-color:aliceblue;
}

img,
picture,
video,
canvas,
svg {
      display: block;
      max-width: 100%;
}

input,
button,
textarea,
select {
      font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
      overflow-wrap: break-word;
} 

#wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      header,
      form {
            padding: 1em;
      }

      #bucketLists {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2em;
            padding: 0 2em;

            .item-name {
                  margin-bottom: .5em;
            }
      }
}