
*,
*::before,
*::after {
      box-sizing: border-box;
}

* {
      margin: 0;
}

html,
body {
      height: 100%;
}

body {
      line-height: 1.5;
      font-family: "Poppins", serif;
      background-color:aliceblue;
}

img,
picture,
video,
canvas,
svg {
      display: block;
      max-width: 100%;
}

input,
button,
textarea,
select {
      font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
      overflow-wrap: break-word;
} 

#wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1em;
            margin-bottom: 2em;

            input {
                  min-width: 15em;
                  padding: .5em;
            }
            button {
                  min-width: 7em;
                  padding: .5em;
                  background-color: rgb(45, 94, 243);
                  color: whitesmoke;
            }
            input,
            select,
            button {
                  border-radius: 10px;
                  border: 1px solid gray;
            }

      }
       h1 {
            color: rgb(224, 70, 70);
            font-size: 3rem;
            padding: .5em;
       }

      #bucketLists {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 2em;
            padding: 0 2em;

            .item-name {
                  margin: .5em 0;
            }

            button {
                  background-color: rgb(105, 139, 242);
                  border: none;
                  border-radius: 5px;
                  padding: .3em .5em;
                  font-weight: 500;
            }

            button,
            label {
                  font-size: .7rem;
            }
      }
}